﻿@model PracticeBuilder.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="container" style="width:600px;margin:0px auto;padding-top:5px;">
    <div class="login-panel panel panel-default">
        <div class="panel-heading">
            <br />
            <br />
            <div class="text-center">
                <img src="/img/iologo_new.gif" style="width:150px;height:auto;" />
            </div>
            <br />
            <div class="text-center">
                @*<label class="panel-title" style="margin-right:50px;margin-bottom:80px"></label>*@
                <b style="font-size:27px;">myPractice Reputation</b>
            </div>
            <br />
            <section id="RegisterForm">
                @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                {
                    @Html.ValidationSummary(true)
                    <br />
                    <table style="width:70%;margin:0px auto;margin-left:24%;">
                        @if (ViewBag.LoginError != null)
                        {
                            <tr>
                                <td style="padding: 8px 0px; text-align: left;color:red;">
                                    @ViewBag.LoginError
                                </td>
                            </tr>
                        }
                        <tr>
                            <td style="padding:8px 0px;text-align:left;">
                                @Html.LabelFor(m => m.PracticeId)
                                @Html.TextBoxFor(m => m.PracticeId, new { @class = "form-control", @id = "txtpractice" })
                                @Html.ValidationMessageFor(m => m.PracticeId)
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:8px 0px;text-align:left;">
                                @Html.LabelFor(m => m.ProviderId)
                                @Html.TextBoxFor(m => m.ProviderId, new { @class = "form-control", @id = "txtprovider" })
                                @Html.ValidationMessageFor(m => m.ProviderId)
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 8px 0px; text-align: left; ">
                                <input type="submit" id="btnRegister" class="btn btn-info textsize" value="Login" />
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 8px 0px; text-align: left;">
                                <p><font size="3"></font><b>Haven't signed up yet? Click </b>@Html.ActionLink("here.", "Signup", "Login")</p>
                            </td>
                        </tr>
                    </table>
                }
            </section>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}