﻿
@{
    ViewBag.Title = "LogOff";
    Layout = Layout = "~/Views/Shared/_LoginLayout.cshtml"; ;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogOff</title>
</head>
<body>
    <div>
        <p> You have successfully logged off from the application.</p> 
    </div>
</body>
</html>
