﻿@using PracticeBuilder.Common
@model PracticeBuilder.Models.RegisterViewModel

@{
    ViewBag.Title = "Sign Up";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<div class="container" style="margin-bottom:15px;">
    <div style="width:600px;background-color:#f1f1f1;padding:5px;margin:0px auto;">
        <table id="RegisterForm" style="width:100%;">
            @using (Html.BeginForm("Signup", "Login", FormMethod.Post))
            {
                @Html.ValidationSummary(true);

                <tr>
                    <td colspan="2" style="padding:3px 0px;text-align:center;">
                        <img src="/img/iologo_new.gif" style="width:80px;height:auto;" />
                        <b style="font-size:27px;display:inline-block;margin:0px;">myPractice Reputation</b>
                        <h3 style="margin:5px 0px;">New Registration</h3>
                    </td>
                </tr>
                <tr>
                    <td style="padding:3px 0px;text-align:right;width:30%;font-weight:bold;">
                        Register As
                    </td>
                    <td style="padding:3px 0px;text-align:left;width:60%;padding-left:5%;">
                        @Html.RadioButtonFor(m => m.RegistrationType, (int)RegisterTypeEnum.Practice, new { @checked = true, @id = "practiceType" })
                        &nbsp;&nbsp;
                        <b>Practice</b>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        @Html.RadioButtonFor(m => m.RegistrationType, (int)RegisterTypeEnum.Provider, new { @id = "providerType" })
                        &nbsp;&nbsp;
                        <b>Provider</b>
                    </td>
                </tr>
                <tr id="div-name">
                    <td style="padding:3px 0px;text-align:right;width:30%;">
                        @Html.LabelFor(m => m.Name)
                    </td>
                    <td style="padding:3px 0px;text-align:left;width:60%;padding-left:5%;">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @id = "txtname", @placeholder = "Enter Practice Name" })
                        @Html.ValidationMessageFor(m => m.Name)
                    </td>
                </tr>
                <tr id="div-firstname">
                    <td style="padding:3px 0px;text-align:right;width:30%;">
                        @Html.LabelFor(m => m.FirstName)
                    </td>
                    <td style="padding:3px 0px;text-align:left;width:60%;padding-left:5%;">
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @id = "txtfirstname", @placeholder = "Enter First Name" })
                        @Html.ValidationMessageFor(m => m.FirstName)
                    </td>
                </tr>
                <tr id="div-middlename">
                    <td style="padding:3px 0px;text-align:right;width:30%;">
                        @Html.LabelFor(m => m.MiddleName)
                    </td>
                    <td style="padding:3px 0px;text-align:left;width:60%;padding-left:5%;">
                        @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control", @id = "txtlastname", @placeholder = "Enter Last Name" })
                    </td>
                </tr>
                <tr id="div-lastname">
                    <td style="padding:3px 0px;text-align:right;width:30%;">
                        @Html.LabelFor(m => m.LastName)
                    </td>
                    <td style="padding:3px 0px;text-align:left;width:60%;padding-left:5%;">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @id = "txtlastname", @placeholder = "Enter Last Name" })
                        @Html.ValidationMessageFor(m => m.LastName)
                    </td>
                </tr>
                <tr id="div-npi">
                    <td style="padding:3px 0px;text-align:right;width:30%;">
                        @Html.LabelFor(m => m.NPI)
                    </td>
                    <td style="padding:3px 0px;text-align:left;width:60%;padding-left:5%;">
                        @Html.TextBoxFor(m => m.NPI, new { @class = "form-control", @id = "txtnpi", @placeholder = "Enter NPI number" })
                        @Html.ValidationMessageFor(m => m.NPI)
                    </td>
                </tr>
                <tr id="div-email">
                    <td style="padding:3px 0px;text-align:right;width:30%;">
                        @Html.LabelFor(m => m.Email)
                    </td>
                    <td style="padding:3px 0px;text-align:left;width:60%;padding-left:5%;">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "txtemail", @placeholder = "Enter Email address" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </td>
                </tr>
                <tr id="div-pid">
                    <td style="padding:3px 0px;text-align:right;width:30%;">
                        @Html.LabelFor(m => m.ProviderPId)
                    </td>
                    <td style="padding:3px 0px;text-align:left;width:60%;padding-left:5%;">
                        @Html.TextBoxFor(m => m.ProviderPId, new { @class = "form-control", @id = "txtprovider", @placeholder = "Enter Personal Id" })
                        @Html.ValidationMessageFor(m => m.ProviderPId)
                    </td>
                </tr>
                <tr id="div-pracid">
                    <td style="padding:3px 0px;text-align:right;width:30%;">
                        @Html.LabelFor(m => m.PracticeId)
                    </td>
                    <td style="padding:3px 0px;text-align:left;width:60%;padding-left:5%;">
                        @Html.TextBoxFor(m => m.PracticeId, new { @class = "form-control", @id = "txtemail", @placeholder = "Enter Practice Id" })
                        @Html.ValidationMessageFor(m => m.PracticeId)
                    </td>
                </tr>
                <tr id="div-add1">
                    <td style="padding:3px 0px;text-align:right;width:30%;">
                        @Html.LabelFor(m => m.Address1)
                    </td>
                    <td style="padding:3px 0px;text-align:left;width:60%;padding-left:5%;">
                        @Html.TextBoxFor(m => m.Address1, new { @class = "form-control", @id = "txtaddress1" })
                        @Html.ValidationMessageFor(m => m.Address1)
                    </td>
                </tr>
                <tr id="div-add2">
                    <td style="padding:3px 0px;text-align:right;width:30%;">
                        @Html.LabelFor(m => m.Address2)
                    </td>
                    <td style="padding:3px 0px;text-align:left;width:60%;padding-left:5%;">
                        @Html.TextBoxFor(m => m.Address2, new { @class = "form-control", @id = "txtaddress2" })
                    </td>
                </tr>
                <tr id="div-city">
                    <td style="padding:3px 0px;text-align:right;width:30%;">
                        @Html.LabelFor(m => m.City)
                    </td>
                    <td style="padding:3px 0px;text-align:left;width:60%;padding-left:5%;">
                        @Html.TextBoxFor(m => m.City, new { @class = "form-control", @id = "txtcity" })
                        @Html.ValidationMessageFor(m => m.City)
                    </td>
                </tr>
                <tr id="div-state">
                    <td style="padding:3px 0px;text-align:right;width:30%;">
                        @Html.LabelFor(m => m.State)
                    </td>
                    <td style="padding:3px 0px;text-align:left;width:60%;padding-left:5%;">
                        @Html.TextBoxFor(m => m.State, new { @class = "form-control", @id = "txtstate" })
                        @Html.ValidationMessageFor(m => m.State)
                    </td>
                </tr>
                <tr id="div-zip">
                    <td style="padding:3px 0px;text-align:right;width:30%;">
                        @Html.LabelFor(m => m.Zip)
                    </td>
                    <td style="padding:3px 0px;text-align:left;width:60%;padding-left:5%;">
                        @Html.TextBoxFor(m => m.Zip, new { @class = "form-control", @id = "txtzip" })
                        @Html.ValidationMessageFor(m => m.Zip)
                    </td>
                </tr>
                <tr id="div-phone">
                    <td style="padding:3px 0px;text-align:right;width:30%;">
                        @Html.LabelFor(m => m.Telephone)
                    </td>
                    <td style="padding:3px 0px;text-align:left;width:60%;padding-left:5%;">
                        @Html.TextBoxFor(m => m.Telephone, new { @class = "form-control", @id = "txttelephone" })
                        @Html.ValidationMessageFor(m => m.Telephone)
                    </td>
                </tr>

                <tr id="div-fax">
                    <td style="padding:3px 0px;text-align:right;width:30%;">
                        @Html.LabelFor(m => m.Fax)
                    </td>
                    <td style="padding:3px 0px;text-align:left;width:60%;padding-left:5%;">
                        @Html.TextBoxFor(m => m.Fax, new { @class = "form-control", @id = "txtfax" })
                        @Html.ValidationMessageFor(m => m.Fax)
                    </td>
                </tr>

                <tr id="div-buName">
                    <td style="padding:3px 0px;text-align:right;width:30%;">
                        @Html.LabelFor(m => m.BUName)
                    </td>
                    <td style="padding:3px 0px;text-align:left;width:60%;padding-left:5%;">
                        @Html.TextBoxFor(m => m.BUName, new { @class = "form-control", @id = "txtbuname" })
                        @Html.ValidationMessageFor(m => m.BUName)
                    </td>
                </tr>
                <tr id="div-checkboxSuperAdmin">
                    <td style="padding:3px 0px;text-align:right;width:30%;">
                        @Html.LabelFor(m => m.SuperAdmin)
                    </td>
                    <td style="padding:3px 0px;text-align:left;width:60%;padding-left:5%;">
                        @Html.CheckBoxFor(m => m.SuperAdmin, new { @class = "form-control", @id = "chksuperadmin" })
                        @Html.ValidationMessageFor(m => m.SuperAdmin)
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding:6px 0px;text-align:center;padding-left:25%;">
                        <input type="submit" id="btnRegister" class="btn btn-info textsize" value="Register" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding:6px 0px;text-align:center;">
                        <p><b>Already signed up? Click&nbsp;</b>@Html.ActionLink("here.", "Login", "Login")</p>

                    </td>
                </tr>
            }
        </table>
    </div>
</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <script type="text/javascript">

        $(document).ready(function () {
            if ($("input[id=practiceType]").is(":checked")) {
                $("#div-name").show();
                $("#div-firstname").hide();
                $("#div-middlename").hide();
                $("#div-lastname").hide();
                $("#div-npi").hide();
                $("#div-pid").hide();
                $("#div-pracid").hide();
                $("#div-checkboxSuperAdmin").hide();
            }
            else {
                $("#div-firstname").show();
                $("#div-middlename").show();
                $("#div-lastname").show();
                $("#div-npi").show();
                $("#div-pid").show();
                $("#div-pracid").show();
                $("#div-name").hide();
            }

            $("input[name=RegistrationType]").click(function () {
                if ($(this).val() == 1) {
                    $("#div-name").show();
                    $("#div-firstname").hide();
                    $("#div-middlename").hide();
                    $("#div-lastname").hide();
                    $("#div-npi").hide();
                    $("#div-pid").hide();
                    $("#div-pracid").hide();
                    $("#div-checkboxSuperAdmin").hide();

                } else {
                    $("#div-firstname").show();
                    $("#div-middlename").show();
                    $("#div-lastname").show();
                    $("#div-npi").show();
                    $("#div-pid").show();
                    $("#div-pracid").show();
                    $("#div-checkboxSuperAdmin").show();
                    $("#div-name").hide();
                }
            });


            function showModal(title, text) {
                $("#loginmodal .modal-title").html(title);
                $("#loginmodal .modal-body").html(text);
                $('#loginmodal').modal("show");
            }
        });
    </script>
}
