﻿@{
    ViewBag.Title = "Signup success";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}



<div class="container">
    <div style="width:800px;height:600px; background-color:#f1f1f1;padding:5px;margin:0px auto;">
        <table id="RegisterForm" style="width:100%;">

            <tr>
                <td colspan="2" style="padding:15px 0px;text-align:center;">
                    <img src="/img/iologo_new.gif" style="width:80px;height:auto;" />
                    <br />
                    <br />
                    <b style="font-size:27px;padding-left:15px;">myPractice Reputation</b>
                    <br />
                    <br />
                    <h2 style="padding:15px">
                        @if (@TempData != null)
                        {
                            @TempData["Message"];
                        }
                    </h2>
            <tr>
                <td colspan="2" style="padding:200px 0px;text-align:center;">
                    <p><b>Please Click here to&nbsp;</b>@Html.ActionLink("here.", "Login", "Login")</p>

                </td>
            </tr>
          
       


        </table>



        </div>
    </div>


            @section Scripts
{
                <script type="text/javascript">


                    @*$(document).ready(function () {
        showModal('Success', '@(TempData["Message"])')
    });

    function showModal(title, text) {
        $("#loginmodal .modal-title").html(title);
        $("#loginmodal .modal-body").html(text);
        $('#loginmodal').modal("show");
    }*@
                </script>
            }
