﻿@{
    ViewBag.Title = "ReviewOption";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row text-center">
        <h2>Choose Review Preference</h2>
    </div>
    <section id="RegisterForm">
        @using (Html.BeginForm())
        {
            <div id="somediv" style="height:1200px;">                             
            </div>
        }
    </section>
</div>
@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            opendialog();

            function opendialog() {
                var url = '@ViewBag.Url';               
                var $dialog = $('#somediv')
                    .html('<iframe style="border: 0px; " src="' + url  + '" width="100%" height="100%"></iframe>  ')
                    .dialog({
                        //title: "Page",
                        autoOpen: false,
                        dialogClass: 'dialog_fixed,ui-widget-header',
                        modal: true,
                        height: 1000,
                        minWidth: 900,
                        minHeight: 400,
                        draggable: true
                        /*close: function () { $(this).remove(); },*/
                        //buttons: { "Ok": function() { $(this).dialog("close"); } }
                    });
                $dialog.dialog('open');
            }
        });
    </script>
}