﻿@using System.Activities.Expressions
@using System.Web.UI.WebControls
@using PracticeBuilder.Models
@model IEnumerable<PracticeBuilder.Models.FeedbackPublishViewModel>


@{
    ViewBag.Title = "FeedbackPublish";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row text-center">
        <h1><b>Choose Feedback which needs to be published</b></h1>
    </div>


    <div class="modal fade" id="loginmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnmodalclose">Close</button>
                </div>
            </div>
        </div>
    </div>


    <section id="FeedbackMethod">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th class="col-sm-2" style="background-color:transparent;width:100px;">
                        @Html.DisplayNameFor(model => model.reviewDate)
                    </th>
                    <th class="col-sm-1" style="background-color:transparent;width:150px;">
                        Patient Name
                    </th>
                    <th class="col-sm-3" style="background-color:transparent;width:550px;">
                        @Html.DisplayNameFor(model => model.review)
                    </th>
                    <th class="col-sm-1" style="background-color:transparent;width:100px;">
                        @Html.DisplayNameFor(model => model.overallRating)
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td style="background-color:transparent;">
                            <label style="width: 100%; font-weight: normal;">@item.reviewDate</label>
                        </td>
                        <td style="background-color:transparent;">
                            @Html.DisplayFor(modelItem => item.patientFirstname)
                            @Html.DisplayFor(modelItem => item.patientLastname)
                        </td>
                        <td style="background-color:transparent;">
                            <label style="width: 100%; font-weight: normal;">@item.review</label>
                        </td>
                        <td style="background-color:transparent;">
                            @switch (Util.RoundOffRatings(@item.overallRating))
                            {
                                case "0":
                                    <img src="../../../img/stars/0.png" title=@Util.ChooseTitleByRatings(@item.overallRating) style="width:108px;height:auto;" />
                                    break;
                                case "0.0":
                                <img src="../../../img/stars/0.png" title=@Util.ChooseTitleByRatings(@item.overallRating) style="width:108px;height:auto;" />
                                    break;
                                case "0.5":
                                <img src="../../../img/stars/0.5.png" title=@Util.ChooseTitleByRatings(@item.overallRating) style="width:108px;height:auto;" />
                                    break;
                                case "1":
                                <img src="../../../img/stars/1.png" title=@Util.ChooseTitleByRatings(@item.overallRating) style="width:108px;height:auto;" />
                                    break;
                                case "1.50":
                                <img src="../../../img/stars/1.5.png" title=@Util.ChooseTitleByRatings(@item.overallRating) style="width:108px;height:auto;" />
                                    break;
                                case "2":
                                <img src="../../../img/stars/2.png" title=@Util.ChooseTitleByRatings(@item.overallRating) style="width:108px;height:auto;" />
                                    break;
                                case "2.50":
                                <img src="../../../img/stars/2.5.png" title=@Util.ChooseTitleByRatings(@item.overallRating) style="width:108px;height:auto;" />
                                    break;
                                case "3":
                                <img src="../../../img/stars/3.png" title=@Util.ChooseTitleByRatings(@item.overallRating) style="width:108px;height:auto;" />
                                    break;
                                case "3.50":
                                <img src="../../../img/stars/3.5.png" title=@Util.ChooseTitleByRatings(@item.overallRating) style="width:108px;height:auto;" />
                                    break;
                                case "4":
                                <img src="../../../img/stars/4.png" title=@Util.ChooseTitleByRatings(@item.overallRating) style="width:108px;height:auto;" />
                                    break;
                                case "4.50":
                                <img src="../../../img/stars/4.5.png" title=@Util.ChooseTitleByRatings(@item.overallRating) style="width:108px;height:auto;" />
                                    break;
                                case "5":
                                <img src="../../../img/stars/5.png" title=@Util.ChooseTitleByRatings(@item.overallRating)
                                      style="width:108px;height:auto;" />
                                    break;
                            }
                        </td>
                        <td style="background-color:transparent;">
                            <input type="button" id="btnDelete_@item.reviewId" class="btn btn-info" value="Delete" />
                        </td>
                        <td style="background-color:transparent;">
                            <input type="button" id="btnPublish_@item.reviewId" class="btn btn-info" value="Publish" />
                        </td>
                    </tr>

                }
            }
            else
            {
                <tr>
                    <td style="background-color:transparent;">
                        <b>There are no reviews to publish.</b>
                    </td>
                </tr>
            }
        </table>

    </section>



</div>


@section Scripts{
    @Scripts.Render("~/bundles/starrating")
    <script type="text/javascript">
        $(document).ready(function () {

            $(".rating-loading").rating({ displayOnly: true, step: 1 });

            $('input[type="button"][value="Delete"]').click(function () {
                var btnId = $(this).attr('id');
                var reviewId = btnId.substring(btnId.indexOf('_') + 1, btnId.length);
                var data = { feedbackId: reviewId };
                $.ajax(
                {
                    type: "POST",
                    url: "@Url.Action("DeleteFeedback")",
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.status == "401")
                            alert(data.message);
                        else {
                            showModal('Success', 'The Review has been Deleted');
                            location.reload();
                        }
                    },
                    error: function (response) {
                        showModal('Error', 'There is some error occurred while deleting the Feedback. Please contact IO support.');
                    }
                });
            });

            $('input[type="button"][value="Publish"]').click(function () {
                var btnId = $(this).attr('id');
                var reviewId = btnId.substring(btnId.indexOf('_') + 1, btnId.length);
                var data = { feedbackId: reviewId };
                $.ajax(
                {
                    type: "POST",
                    url: "@Url.Action("PublishFeedback")",
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.status == "401")
                            alert(data.message);
                        else {
                            showModal('Success', 'The Review has been Published');
                        }
                    },
                    error: function (response) {
                        PublishAgain(data);
                    }
                });
            });


            $("#btnmodalclose").click(function () {
                location.reload();
            });

            function PublishAgain(FeedBackId) {
                $.ajax(
                        {
                            type: "POST",
                            url: "@Url.Action("PublishFeedback")",
                            data: JSON.stringify(FeedBackId),
                            dataType: 'json',
                            contentType: 'application/json',
                            success: function (data) {
                                if (data.status == "401")
                                    alert(data.message);
                                else {
                                    showModal('Success', 'The Review has been Published');
                                    //location.reload();
                                }
                            },
                            error: function (response) {
                                showModal('Error', 'There is some error occurred while Publishing the Feedback. Please contact IO support.');
                            }
                        });
            }

            function showModal(title, text) {
                $("#loginmodal .modal-title").html(title);
                $("#loginmodal .modal-body").html(text);
                $('#loginmodal').modal("show");
            }
        });


    </script>
}