﻿@model PracticeBuilder.Models.ProviderListViewModel
@{
    ViewBag.Title = "Review";
}
<div style="height:auto">
    <div class="container" style="text-align:left;">
        <section id="RegisterForm">
            @using (Html.BeginForm("FeedbackOptions", "Home", FormMethod.Get))
            {
                <table style="width:900px;">
                    <tr>
                        <td colspan="2">
                            <h3>Choose Review Preference</h3>
                        </td>
                    </tr>
                    <tr style="height:100px;padding:10px 0px;">
                        <td colspan="2" style="margin-top:10px;">
                            <span style="color: #033c73;">Select any Provider to Email, Publish and Review</span>
                            <br />
                            <br />
                            @Html.DropDownListFor(m => m.ProviderId, new SelectList(Model.ListOfProviders, "Value", "Text"), new { style = "width:250px;height:35px" })
                        </td>
                    </tr>
                    <tr style="height:60px;border:solid #999 1px;">
                        <td style="width:49%;padding-left:1%;">
                            <input type="button" id="btnOption" class="btn btn-info textsize " style="width:200px;height:35px;" value="Email / SMS" />
                            <span style="color:#222;">
                                Capture Review using Email / SMS.
                            </span>
                        </td>
                        <td style="width:50%;">
                            <input type="button" id="btnReview" class="btn btn-info textsize" style="width:200px;height:35px;" value="Review now" />
                            <span style="color:#222;">
                                Capture Review now with direct link
                            </span>
                        </td>
                    </tr>
                    <tr style="height:60px;border:solid #999 1px;">
                        <td style="width:49%;padding-left:1%;">
                            <input type="button" id="btnSitesReviewsReport" class="btn btn-info textsize" style="width:200px;height:35px;" value="Sites Reviews" />
                            <span style="color:#222;">Monitor Your Reviews.</span>
                        </td>
                        <td>
                            <input type="button" id="btnPublish" class="btn btn-info textsize" style="width:200px;height:35px;" value="Publish" />
                            <span style="color:#222;">Publish Your Review.</span>&nbsp;&nbsp;
                        </td>
                    </tr>
                    <tr style="height:60px;border:solid #999 1px;">
                        <td style="width:49%;padding-left:1%;">
                            <input type="button" id="btnFeedBackReport" class="btn btn-info textsize" style="width:200px;height:35px;" value="FeedBack Report" />
                            <span style="color:#222;">Email Request Report</span>
                        </td>
                        <td>
                            <input type="button" id="btnSMSReviewsReport" class="btn btn-info textsize" style="width:200px;height:35px;" value="SMS Reviews" />
                            <span style="color:#222;">SMS Request Report.</span>&nbsp;&nbsp;
                        </td>
                    </tr>
                    <tr style="height:60px;border:solid #999 1px;">
                        <td style="width:49%;padding-left:1%;">
                            <input type="button" id="btnPublishingQueueReport" class="btn btn-info textsize" style="width:200px;height:35px;" value="Publishing Queue" />
                            <span style="color:#222;">Publishing Queue Report</span>&nbsp;&nbsp;
                        </td>
                        <td>
                            <input type="button" id="btnPublishedReport" class="btn btn-info textsize" style="width:200px;height:35px;" value="Published Report" />
                            <span style="color:#222;">Published Review Report.</span>&nbsp;&nbsp;
                        </td>
                    </tr>
                </table>
                <section />

            }
        </section>

    </div>
</div>

@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            $('#btnOption').on('click', function () {
                var PublisherId = $('#ProviderId option:selected').val();
                window.location.href = "FeedbackOptions/" + encodeURIComponent(PublisherId);
            });

            $('#btnReview').on('click', function () {
                var provider = $('#ProviderId option:selected').val();
                var url = '@Url.Action("FeedbackSubmit", "Home",new { providerId = "__provider__"})';
                window.location.href = url.replace('__provider__', encodeURIComponent(provider));
            });

            $('#btnPublish').on('click', function () {
                var PublisherId = $('#ProviderId option:selected').val();
                var url = '@Url.Action("FeedbackPublish", "Home", new { PublisherId = "__provider__" })';
                window.location.href = url.replace('__provider__', encodeURIComponent(PublisherId));
            });

            $('#btnFeedBackReport').on('click', function () {
                var PublisherId = $('#ProviderId option:selected').val();
                window.location.href = "feedbackreport/feedback/" + encodeURIComponent(PublisherId);
            });

            $('#btnPublishedReport').on('click', function () {
                var PublisherId = $('#ProviderId option:selected').val();
                window.location.href = "feedbackreport/publish/" + encodeURIComponent(PublisherId);
            });

            $('#btnSitesReviewsReport').on('click', function () {
                var PublisherId = $('#ProviderId option:selected').val();
                window.location.href = "feedbackreport/sites/" + encodeURIComponent(PublisherId);
            });

            $('#btnSMSReviewsReport').on('click', function () {
                var PublisherId = $('#ProviderId option:selected').val();
                window.location.href = "feedbackreport/sms/" + encodeURIComponent(PublisherId);
            });

            $('#btnPublishingQueueReport').on('click', function () {
                var PublisherId = $('#ProviderId option:selected').val();
                window.location.href = "feedbackreport/pqueue/" + encodeURIComponent(PublisherId);
            });

        });

    </script>
}
