﻿@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PracticeBuilder.Models;


<div id="divPublishedReport" style="margin-left:35px;">
    @if (Request.Url.ToString().ToLower().Contains("feedbackreport/feedback"))
    {
        <h3>FeedBack Report</h3>
    }
    else if (Request.Url.ToString().ToLower().Contains("feedbackreport/publish"))
    {
        <h3>Publish Report</h3>
    }
    else if (Request.Url.ToString().ToLower().Contains("feedbackreport/sites"))
    {
        <h3>Sites Reviews</h3>
    }
    else if (Request.Url.ToString().ToLower().Contains("feedbackreport/pqueue"))
    {
        <h3>Publishing Queue</h3>
    }
    else
    {
        <h3>SMS Reviews</h3>
    }
    <table style="width:90%;">
        @if (ViewBag.Reports != null)
        {
            <tr style="background-color: #033c73;color:white;height:30px;line-height:30px;">
                <td>
                    &nbsp;Id
                </td>
                <td>
                    &nbsp;Name
                </td>
                <td>
                    &nbsp;Email
                </td>
                <td>
                    &nbsp;Requested Date
                </td>
                <td>
                    &nbsp;Responded Date
                </td>
                <td>
                    &nbsp;Status
                </td>
            </tr>

            bool rowColor = true;
            foreach (ProviderReportViewModel p in ViewBag.Reports)
            {
                if (rowColor)
                {
                    <tr style="background-color:white;height:25px;line-height:25px;">
                        <td>
                            &nbsp;@p.id
                        </td>
                        <td>
                            &nbsp;@p.name
                        </td>
                        <td>
                            &nbsp;@p.email
                        </td>
                        <td>
                            &nbsp;@p.requestedDate
                        </td>
                        <td>
                            &nbsp;@p.respondedDate
                        </td>
                        <td>
                            &nbsp;@p.status
                        </td>
                    </tr>
                    rowColor = false;
                }
                else
                {
                    <tr style="background-color:#f1f1f1;height:25px;line-height:25px;">
                        <td>
                            &nbsp;@p.id
                        </td>
                        <td>
                            &nbsp;@p.name
                        </td>
                        <td>
                            &nbsp;@p.email
                        </td>
                        <td>
                            &nbsp;@p.requestedDate
                        </td>
                        <td>
                            &nbsp;@p.respondedDate
                        </td>
                        <td>
                            &nbsp;@p.status
                        </td>
                    </tr>
                    rowColor = true;
                }

            }
        }
        else if (ViewBag.SiteReports != null)
        {
            <tr style="background-color: #033c73;color:white;height:30px;line-height:30px;">
                <td>
                    &nbsp;Site Id
                </td>
                <td>
                    &nbsp;Site Name
                </td>
                <td align="center">
                    &nbsp;Rating
                </td>
                <td>
                    &nbsp;New Reviews
                </td>
                <td>
                    &nbsp;Total Reviews
                </td>
                <td>
                    &nbsp;Last Updated Date
                </td>
            </tr>

            bool rowColor = true;
            foreach (ProviderSitesViewModel p in ViewBag.SiteReports)
            {
                if (rowColor)
                {
                    <tr style="background-color:white;height:30px;line-height:30px;">
                        <td>
                            &nbsp;@p.siteID
                        </td>
                        <td>
                            <a href="@p.siteUrl" target="_blank">
                                @p.siteName
                            </a>
                        </td>
                        <td align="center">
                            @switch (Util.RoundOffRatings(@p.rating))
                            {
                                case "0":
                                    <img src="../../../img/stars/0.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "0.0":
                                <img src="../../../img/stars/0.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "0.5":
                                <img src="../../../img/stars/0.5.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "1":
                                <img src="../../../img/stars/1.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "1.50":
                                <img src="../../../img/stars/1.5.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "2":
                                <img src="../../../img/stars/2.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "2.50":
                                <img src="../../../img/stars/2.5.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "3":
                                <img src="../../../img/stars/3.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "3.50":
                                <img src="../../../img/stars/3.5.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "4":
                                <img src="../../../img/stars/4.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "4.50":
                                <img src="../../../img/stars/4.5.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "5":
                                <img src="../../../img/stars/5.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                            }
                        </td>
                        <td>
                            &nbsp;&nbsp;&nbsp;&nbsp;@p.newReviews
                        </td>
                        <td>
                            &nbsp;&nbsp;&nbsp;&nbsp;@p.totalReviews
                        </td>
                        <td>
                            &nbsp;@p.lastUpdatedDate
                        </td>
                    </tr>
                            rowColor = false;
                }
                else
                {
                    <tr style="background-color:#f1f1f1;height:30px;line-height:30px;">
                        <td>
                            &nbsp;@p.siteID
                        </td>
                        <td>
                            <a href="@p.siteUrl" target="_blank">
                                @p.siteName
                            </a>
                        </td>
                        <td align="center">
                            @switch (Util.RoundOffRatings(@p.rating))
                            {
                                case "0":
                                    <img src="../../../img/stars/0.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "0.0":
                                <img src="../../../img/stars/0.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "0.5":
                                <img src="../../../img/stars/0.5.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "1":
                                <img src="../../../img/stars/1.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "1.50":
                                <img src="../../../img/stars/1.5.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "2":
                                <img src="../../../img/stars/2.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "2.50":
                                <img src="../../../img/stars/2.5.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "3":
                                <img src="../../../img/stars/3.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "3.50":
                                <img src="../../../img/stars/3.5.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "4":
                                <img src="../../../img/stars/4.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "4.50":
                                <img src="../../../img/stars/4.5.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "5":
                                <img src="../../../img/stars/5.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                            }
                        </td>
                        <td>
                            &nbsp;&nbsp;&nbsp;&nbsp;@p.newReviews
                        </td>
                        <td>
                            &nbsp;&nbsp;&nbsp;&nbsp;@p.totalReviews
                        </td>
                        <td>
                            &nbsp;@p.lastUpdatedDate
                        </td>
                    </tr>
                            rowColor = true;
                }

            }
        }
        else if (ViewBag.SMSReports != null)
        {
            <tr style="background-color: #033c73;color:white;height:30px;line-height:30px;">
                <td>
                    &nbsp;Name
                </td>
                <td>
                    &nbsp;Mobile
                </td>
                <td>
                    &nbsp;Requested Date
                </td>
                <td>
                    &nbsp;Status
                </td>
            </tr>

            bool rowColor = true;
            foreach (ProviderSMSViewModel p in ViewBag.SMSReports)
            {
                if (rowColor)
                {
                    <tr style="background-color:white;height:25px;line-height:25px;">
                        <td>
                            &nbsp;@p.name
                        </td>
                        <td>
                            &nbsp;@p.mobile
                        </td>
                        <td>
                            &nbsp;@p.requestedDate
                        </td>
                        <td>
                            &nbsp;@p.status
                        </td>
                    </tr>
                    rowColor = false;
                }
                else
                {
                    <tr style="background-color:#f1f1f1;height:25px;line-height:25px;">
                        <td>
                            &nbsp;@p.name
                        </td>
                        <td>
                            &nbsp;@p.mobile
                        </td>
                        <td>
                            &nbsp;@p.requestedDate
                        </td>
                        <td>
                            &nbsp;@p.status
                        </td>
                    </tr>
                    rowColor = true;
                }
            }
        }
        else if (ViewBag.PublishingReport != null)
        {
            <tr style="background-color: #033c73;color:white;height:30px;line-height:30px;">
                <td>
                    &nbsp;Review
                </td>
                <td align="center">
                    &nbsp;Rating
                </td>
                <td>
                    &nbsp;Site
                </td>
                <td>
                    &nbsp;Patient Email
                </td>
                <td>
                    &nbsp;Source
                </td>
            </tr>

            bool rowColor = true;
            foreach (ProviderPublishingQueueViewModel p in ViewBag.PublishingReport)
            {
                if (rowColor)
                {
                    <tr style="background-color:white;height:25px;line-height:25px;">
                        <td>
                            &nbsp;@p.review
                        </td>
                        <td align="center">
                            @switch (Util.RoundOffRatings(@p.rating))
                            {
                                case "0":
                                    <img src="../../../img/stars/0.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "0.0":
                                <img src="../../../img/stars/0.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "0.5":
                                <img src="../../../img/stars/0.5.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "1":
                                <img src="../../../img/stars/1.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "1.50":
                                <img src="../../../img/stars/1.5.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "2":
                                <img src="../../../img/stars/2.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "2.50":
                                <img src="../../../img/stars/2.5.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "3":
                                <img src="../../../img/stars/3.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "3.50":
                                <img src="../../../img/stars/3.5.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "4":
                                <img src="../../../img/stars/4.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "4.50":
                                <img src="../../../img/stars/4.5.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "5":
                                <img src="../../../img/stars/5.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                            }
                        </td>
                        <td>
                            &nbsp;@p.site
                        </td>
                        <td>
                            &nbsp;@p.patient_email
                        </td>
                        <td>
                            &nbsp;@p.source
                        </td>
                    </tr>
                    rowColor = false;
                }
                else
                {
                    <tr style="background-color:#f1f1f1;height:25px;line-height:25px;">
                        <td>
                            &nbsp;@p.review
                        </td>
                        <td align="center">
                            @switch (Util.RoundOffRatings(@p.rating))
                            {
                                case "0":
                                    <img src="../../../img/stars/0.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "0.0":
                                <img src="../../../img/stars/0.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "0.5":
                                <img src="../../../img/stars/0.5.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "1":
                                <img src="../../../img/stars/1.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "1.50":
                                <img src="../../../img/stars/1.5.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "2":
                                <img src="../../../img/stars/2.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "2.50":
                                <img src="../../../img/stars/2.5.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "3":
                                <img src="../../../img/stars/3.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "3.50":
                                <img src="../../../img/stars/3.5.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "4":
                                <img src="../../../img/stars/4.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "4.50":
                                <img src="../../../img/stars/4.5.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                                case "5":
                                <img src="../../../img/stars/5.png" title=@Util.ChooseTitleByRatings(@p.rating) style="width:108px;height:auto;" />
                                    break;
                            }
                        </td>
                        <td>
                            &nbsp;@p.site
                        </td>
                        <td>
                            &nbsp;@p.patient_email
                        </td>
                        <td>
                            &nbsp;@p.source
                        </td>
                    </tr>
                    rowColor = true;
                }
            }
        }
        else
        {
            <tr>
                <td>
                    <h5>Nothing found</h5>
                </td>
            </tr>
        }
    </table>
</div>
