﻿@using PracticeBuilder.Common
@model PracticeBuilder.Models.FeedbackMethodViewModel
@{
    ViewBag.Title = "ReviewOptions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #div-Popup {
        background-color:rgba(0, 0, 0, 0.32);
        border-radius: 9px;
        height: 70%;
        position: absolute;
        width: 78%;
        padding-top:25px;
    }
</style>
<div class="container">
    <section id="FeedbackMethod">
        @using (Html.BeginForm("FeedbackOptions", "Home", FormMethod.Post ))
        {
            @Html.ValidationSummary(true);
            <div class="col-lg-4" id="div-Popup">
                <div class="alert alert-dismissable alert-warning" style="opacity:1">
                    <button id="btnClose" type="button" class="close" data-dismiss="alert">&times;</button>
                    <div id="div-popupMessage" style="color:green;font-size:16px;">@ViewBag.Message</div>
                </div>
            </div>
            <table style="width:500px;">
                <tr>
                    <td colspan="2">
                        <h3><b>Choose Feedback Preference</b></h3>
                        <div style="display:none;">
                            @Html.TextBoxFor(m => m.PublisherId, new { @Value = @ViewBag.PublisherId  })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding:10px 0px;">
                        <b>
                            Send feedback via:
                        </b>
                        <label class="radio-inline">
                            <b>Email</b>
                        </label>
                        @Html.RadioButtonFor(m => m.FeedbackMethodType, (int)FeedbackMethodTypeEnum.Email, new { @checked = true, @id = "E-mail" })

                        <label class="radio-inline">
                            <b>SMS</b>
                        </label>
                        @Html.RadioButtonFor(m => m.FeedbackMethodType, (int)FeedbackMethodTypeEnum.SMS, new { @id = "Message" })
                    </td>
                </tr>
                <tr>
                    <td style="padding:10px 0px;" colspan="2">
                        <div id="div-fname">
                            @Html.LabelFor(m => m.PatientFName)
                            @Html.TextBoxFor(m => m.PatientFName, new { @class = "form-control", @id = "txtFname", @placeholder = "Enter your First name" })
                            @Html.ValidationMessageFor(m => m.PatientFName)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding:10px 0px;" colspan="2">
                        <div id="div-lname">
                            @Html.LabelFor(m => m.PatientLName)
                            @Html.TextBoxFor(m => m.PatientLName, new { @class = "form-control", @id = "txtLname", @placeholder = "Enter your Last name" })
                            @Html.ValidationMessageFor(m => m.PatientLName)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding:10px 0px;" colspan="2">
                        <div id="div-email">
                            @Html.LabelFor(m => m.PatientEmailaddress)
                            @Html.TextBoxFor(m => m.PatientEmailaddress, new { @class = "form-control", @id = "txtEmail", @placeholder = "Enter your E-mail" })
                            @Html.ValidationMessageFor(m => m.PatientEmailaddress)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding:10px 0px;" colspan="2">
                        <div id="div-phone">
                            @Html.LabelFor(m => m.PatientPhone)
                            @Html.TextBoxFor(m => m.PatientPhone, new { @class = "form-control", @id = "txtPhone", @placeholder = "Enter your phone number" })
                            @Html.ValidationMessageFor(m => m.PatientPhone)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding:10px 0px;" colspan="2">
                        <div>
                            <input type="submit" id="btnSend" class="btn btn-info textsize" value="Send" />
                        </div>
                    </td>
                </tr>
            </table>
        }
    </section>
</div>

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {

            $('#div-Popup').hide();

            if ($("input[id=E-mail]").is(":checked")) {
                $("#div-phone").hide();
            } else {
                $("#div-phone").show();

            }

            $("input[name=FeedbackMethodType]").click(function () {
                if ($(this).val() == 1) {
                    $("#div-phone").hide();

                } else {
                    $("#div-phone").show();
                }
            });

            $("#btnClose").click(function () {
                $('#txtFname').val('');
                $('#txtLname').val('');
                $('#txtEmail').val('');
                $('#txtPhone').val('');
                $('#div-Popup').hide();
            });

            if ($('#div-popupMessage').text() != '') {
                $('#div-Popup').show();
            }
        });


    </script>

}



