﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iopw - Practice Builder</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <style>
        .sublist {
            background-color: rgb(2, 47, 90, 0.5);
            color: white;
            list-style: outside none none;
            width: 95%;
            border-width: medium 1px 1px;
            border-style: none solid solid;
            border-color: -moz-use-text-color white white;
            border-image: none;
            margin-left: 2%;
            height: 187px;
            padding: 9px 11px;
            display: none;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".reports").hover(
              function () {
                  $('ul.sublist').slideDown('medium');
              },
              function () {
                  $('ul.sublist').slideUp('medium');
              }
            );
        });

        function disableBack() { window.history.forward() }
    </script>
</head>

<body onload="disableBack();">
    <div id="wrapper" style="padding-left:235px;">
        @if (Request.IsAuthenticated)
        {
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@Url.Action("feedbackdashboard","home")" style="margin-left:10px">
                        <img src="/img/iologo_new.gif" style="width:64px;height:auto;">&nbsp;<font size="4"><b>myPractice Reputation</b></font>
                    </a>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav side-nav">
                        @if (Convert.ToBoolean(HttpContext.Current.User.Identity.Name.Split('~')[2]))
                        {
                            if (Request.Url.ToString().ToLower().Contains("feedbackdashboard"))
                            {
                                <li class="active"><a href="@Url.Action("feedbackdashboard", "Home" )"><i class="nav" style="height:20px"></i><b>Dashboard</b></a></li>
                            }
                            else
                            {
                                <li><a href="@Url.Action("feedbackdashboard", "Home" )"><i class="nav" style="height:20px"></i><b>Dashboard</b></a></li>
                            }

                            if (Request.Url.ToString().ToLower().Contains("feedbackpublish"))
                            {
                                <li class="active"><a href="@Url.Action("feedbackpublish", "Home" )"><i class="fa fa-tasks"></i><b>Publish</b></a></li>
                            }
                            else
                            {
                                <li><a href="@Url.Action("feedbackpublish", "Home" ) "><i class=" fa fa-bullseye"></i><b>Publish</b></a></li>
                            }
                            if (Request.Url.ToString().ToLower().Contains("feedbackreport"))
                            {
                                <li class="active reports">
                                    <a href="#"><i class="fa fa-bullseye"></i>Reports & Reviews</a>
                                    <ul class="sublist">
                                        <li style="height: 35px; line-height: 35px;">
                                            <a href="../../FeedBackReport/feedback/0"><i class="fa fa-tasks"></i><b style="color:white;">Feedback Report</b></a>
                                        </li>
                                        <li style="height: 35px; line-height: 35px; ">
                                            <a href="../../FeedBackReport/publish/0"><i class="fa fa-tasks"></i><b style="color:white;">Publish Report</b></a>
                                        </li>
                                        <li style="height: 35px; line-height: 35px; ">
                                            <a href="../../FeedBackReport/pQueue/0"><i class="fa fa-tasks"></i><b style="color:white;">Publishing Queue</b></a>
                                        </li>
                                        <li style="height: 35px; line-height:35px;">
                                            <a href="../../FeedBackReport/sites/0"><i class="fa fa-tasks"></i><b style="color:white;">Sites Reviews</b></a>
                                        </li>
                                        <li style="height: 35px; line-height:35px;">
                                            <a href="../../FeedBackReport/sms/0"><i class="fa fa-tasks"></i><b style="color:white;">SMS Reviews</b></a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            else if (Request.Url.ToString().ToLower().Contains("feedbackoptions"))
                            {
                                <li class="reports">
                                    <a href="#"><i class="fa fa-bullseye"></i>Reports & Reviews</a>
                                    <ul class="sublist">
                                        <li style="height: 35px; line-height: 35px;">
                                            <a href="../FeedBackReport/feedback/0"><i class="fa fa-tasks"></i><b style="color:white;">Feedback Report</b></a>
                                        </li>
                                        <li style="height: 35px; line-height: 35px; ">
                                            <a href="../FeedBackReport/publish/0"><i class="fa fa-tasks"></i><b style="color:white;">Publish Report</b></a>
                                        </li>
                                        <li style="height: 35px; line-height: 35px; ">
                                            <a href="../FeedBackReport/pQueue/0"><i class="fa fa-tasks"></i><b style="color:white;">Publishing Queue</b></a>
                                        </li>
                                        <li style="height: 35px; line-height:35px;">
                                            <a href="../FeedBackReport/sites/0"><i class="fa fa-tasks"></i><b style="color:white;">Sites Reviews</b></a>
                                        </li>
                                        <li style="height: 35px; line-height:35px;">
                                            <a href="../FeedBackReport/sms/0"><i class="fa fa-tasks"></i><b style="color:white;">SMS Reviews</b></a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li class="reports">
                                    <a href="#"><i class="fa fa-bullseye"></i>Reports & Reviews</a>
                                    <ul class="sublist">
                                        <li style="height: 35px; line-height: 35px;">
                                            <a href="FeedBackReport/feedback/0"><i class="fa fa-tasks"></i><b style="color:white;">Feedback Report</b></a>
                                        </li>
                                        <li style="height: 35px; line-height: 35px; ">
                                            <a href="FeedBackReport/publish/0"><i class="fa fa-tasks"></i><b style="color:white;">Publish Report</b></a>
                                        </li>
                                        <li style="height: 35px; line-height: 35px; ">
                                            <a href="FeedBackReport/pQueue/0"><i class="fa fa-tasks"></i><b style="color:white;">Publishing Queue</b></a>
                                        </li>
                                        <li style="height: 35px; line-height:35px;">
                                            <a href="FeedBackReport/sites/0"><i class="fa fa-tasks"></i><b style="color:white;">Sites Reviews</b></a>
                                        </li>
                                        <li style="height: 35px; line-height:35px;">
                                            <a href="FeedBackReport/sms/0"><i class="fa fa-tasks"></i><b style="color:white;">SMS Reviews</b></a>
                                        </li>
                                    </ul>
                                </li>
                            }
                        }
                        else
                        {
                            if (Request.Url.ToString().ToLower().Contains("feedbackpublish"))
                            {
                                <li class="active"><a href="@Url.Action("feedbackpublish", "Home" )"><i class="fa fa-tasks"></i><b>Publish</b></a></li>
                            }
                            else
                            {
                                <li><a href="@Url.Action("feedbackpublish", "Home" ) "><i class=" fa fa-bullseye"></i> Publish</a></li>
                            }
                            if (Request.Url.ToString().ToLower().Contains("feedbackreport"))
                            {
                                <li class="active reports">
                                    <a href="#"><i class="fa fa-bullseye"></i>Reports & Reviews</a>
                                    <ul class="sublist">
                                        <li style="height: 35px; line-height: 35px;">
                                            <a href="../../FeedBackReport/feedback/0"><i class="fa fa-tasks"></i><b style="color:white;">Feedback Report</b></a>
                                        </li>
                                        <li style="height: 35px; line-height: 35px; ">
                                            <a href="../../FeedBackReport/publish/0"><i class="fa fa-tasks"></i><b style="color:white;">Publish Report</b></a>
                                        </li>
                                        <li style="height: 35px; line-height: 35px; ">
                                            <a href="../../FeedBackReport/pQueue/0"><i class="fa fa-tasks"></i><b style="color:white;">Publishing Queue</b></a>
                                        </li>
                                        <li style="height: 35px; line-height:35px;">
                                            <a href="../../FeedBackReport/sites/0"><i class="fa fa-tasks"></i><b style="color:white;">Sites Reviews</b></a>
                                        </li>
                                        <li style="height: 35px; line-height:35px;">
                                            <a href="../../FeedBackReport/sms/0"><i class="fa fa-tasks"></i><b style="color:white;">SMS Reviews</b></a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            else if (Request.Url.ToString().ToLower().Contains("feedbackoptions"))
                            {
                                <li class="reports">
                                    <a href="#"><i class="fa fa-bullseye"></i>Reports & Reviews</a>
                                    <ul class="sublist">
                                        <li style="height: 35px; line-height: 35px;">
                                            <a href="../FeedBackReport/feedback/0"><i class="fa fa-tasks"></i><b style="color:white;">Feedback Report</b></a>
                                        </li>
                                        <li style="height: 35px; line-height: 35px; ">
                                            <a href="../FeedBackReport/publish/0"><i class="fa fa-tasks"></i><b style="color:white;">Publish Report</b></a>
                                        </li>
                                        <li style="height: 35px; line-height: 35px; ">
                                            <a href="../FeedBackReport/pQueue/0"><i class="fa fa-tasks"></i><b style="color:white;">Publishing Queue</b></a>
                                        </li>
                                        <li style="height: 35px; line-height:35px;">
                                            <a href="../FeedBackReport/sites/0"><i class="fa fa-tasks"></i><b style="color:white;">Sites Reviews</b></a>
                                        </li>
                                        <li style="height: 35px; line-height:35px;">
                                            <a href="../FeedBackReport/sms/0"><i class="fa fa-tasks"></i><b style="color:white;">SMS Reviews</b></a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li class="reports">
                                    <a href="#"><i class="fa fa-bullseye"></i>Reports & Reviews</a>
                                    <ul class="sublist">
                                        <li style="height: 35px; line-height: 35px;">
                                            <a href="FeedBackReport/feedback/0"><i class="fa fa-tasks"></i><b style="color:white;">Feedback Report</b></a>
                                        </li>
                                        <li style="height: 35px; line-height: 35px; ">
                                            <a href="FeedBackReport/publish/0"><i class="fa fa-tasks"></i><b style="color:white;">Publish Report</b></a>
                                        </li>
                                        <li style="height: 35px; line-height: 35px; ">
                                            <a href="FeedBackReport/pQueue/0"><i class="fa fa-tasks"></i><b style="color:white;">Publishing Queue</b></a>
                                        </li>
                                        <li style="height: 35px; line-height:35px;">
                                            <a href="FeedBackReport/sites/0"><i class="fa fa-tasks"></i><b style="color:white;">Sites Reviews</b></a>
                                        </li>
                                        <li style="height: 35px; line-height:35px;">
                                            <a href="FeedBackReport/sms/0"><i class="fa fa-tasks"></i><b style="color:white;">SMS Reviews</b></a>
                                        </li>
                                    </ul>
                                </li>
                            }
                        }

                    </ul>
                    <ul class="nav navbar-nav navbar-right navbar-user">
                        <li class="dropdown user-dropdown">
                            <br />
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-user"></i>@HttpContext.Current.User.Identity.Name.Split('~')[1]<b class="caret" style="margin-left:8px;border-width:8px 5px 0">&nbsp;&nbsp;</b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/Login/LogOff"><i class="fa fa-power-off"></i> Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        }
        @RenderBody()
        <hr />

        <footer>
            <p>&nbsp;&nbsp;&nbsp;&copy; <b>@DateTime.Now.Year - myPractice Reputation</b></p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")

    @RenderSection("scripts", required: false)

</body>
</html>
