﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iopw - Practice Builder</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript">
        function disableBack() { window.history.forward() }
    </script>
</head>
<body onload="disableBack();" style="padding-top:20px;margin:0px;padding-bottom:0px;">

    <div id="wrapper">
        @RenderBody()
        <footer style="text-align:center">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&copy; <b>@DateTime.Now.Year - myPractice Reputation</b></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")

    @RenderSection("scripts", required: false)

</body>
</html>
